<!-- amazonアソシエイト画像リンク -->
{{ $associateId := $.Site.Params.amazonAssociate }}
{{ $format := "SL320" }}
{{ with .Parent }}
  {{ if eq (.Get 0) "x-small" }}
    {{ $format = "SL110" }}
  {{ else if eq (.Get 0) "small" }}
    {{ $format = "SL240" }}
  {{ end }}
{{ end }}
{{ range .Params }}
<a href="https://www.amazon.co.jp/dp/{{ . }}/ref=as_li_ss_il?&linkCode=li2&tag={{ $associateId }}&language=ja_JP" target="_blank">
  <img border="0" src="https://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{ . }}&Format=_{{ $format }}_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag={{ $associateId }}&language=ja_JP" >
</a>
<img src="https://ir-jp.amazon-adsystem.com/e/ir?t={{ $associateId }}&language=ja_JP&l=li2&o=9&a={{ . }}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
{{ end }}
