<!-- 相対リサイズ可能な画像表示 -->
{{- $src := "" -}}
{{- $zoom := "" -}}
{{- $title := "" -}}
{{- if .IsNamedParams -}}
  {{- $src = .Get "src" -}}
  {{- $zoom = .Get "zoom" -}}
  {{- $title = .Get "title" -}}
{{- else -}}
  {{- $src = .Get 0 -}}
  {{- $title = .Get 1 -}}
  {{- $zoom = .Get 2 -}}
{{- end -}}
{{- if ne $src "" -}}
{{- if not (in $src "/") -}}
  {{- $src = printf "/images/%d/%s/%s" $.Page.PublishDate.Year (index (findRE `\d+_\d+_\d+` $.Page.File.BaseFileName) 0) $src -}}
{{- end -}}
<a href="{{ $src }}">
  <img border="0" src="{{ $src }}" {{- if ne $title "" }}title="{{ $title }}"{{ end }} {{- if ne $zoom "" }} style="zoom:{{ $zoom }}"{{ end }}>
</a>
{{- end -}}
